[Interface]
PrivateKey = {{ lookup('passwordstore', 'dev/mfa/wg-server') }}
Address = 10.35.1.1/24
ListenPort = 51820

[Peer]
PublicKey = {{ lookup('passwordstore', 'dev/mfa/wg-client subkey=PublicKey') }}
PreSharedKey = {{ lookup('passwordstore', 'dev/mfa/wg-server subkey=PresharedKey') }}
AllowedIPs = 10.35.1.2/32
